.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url("/pointer.png") 0 0, pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 8px;
}
.desktop-icon:hover {
    background-color: rgba(103, 123, 237, 0.182);
}
.desktop-icon img {
    object-fit: contain;
    width: 65px;
    margin-bottom: 5px;
}

.desktop-icon p{
    margin: 0;
    background-color: #eeedf4;
    border-radius: 5px;
    padding: 2px 4px;
}