/* LoadingSquares.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.loading-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #38385b;
  animation: fadeIn 1s;
}

.loading-text {
  font-family: 'Press Start 2P', monospace;
  font-size: 1.25rem;
  color: white;
  width: 200px;
}
